<h4>Delta Autocalibration Plugin</h4>
This plugin will calibrate a delta configuration printer using David Crocker's "least squares" calibration algorithm.<br>
Note that this is only designed to operate with the SeeMeCNC fork of Repetier Firmware.<br><br>

<strong>Connection Status: <span style="color: green" data-bind="visible: isConnected()">connected</span>
<span style="color: red" data-bind="visible: !isConnected()">not connected</span></strong><br>

Your machine is <span style="color: red" data-bind="visible: isConnected() && !isRepetierFirmware()">not</span> SeeMeCNC Repetier Firmware based<br>
Your machine is <span style="color: red" data-bind="visible: isConnected() && !isSeeMeCNCPrinter()">not</span> a SeeMeCNC 3D printer!<br>
<br>


<form class="form-horizontal">
    <!---
    <button data-bind="enable: isRepetierFirmware() && isConnected(), click: calibrateX">{{ _('Calibrate X-axis') }}</button>
    <button data-bind="enable: isRepetierFirmware() && isConnected(), click: calibrateY">{{ _('Calibrate Y-axis') }}</button>
    <button data-bind="enable: isRepetierFirmware() && isConnected(), click: calibrateZ">{{ _('Calibrate Z-axis') }}</button>
    -->
    <button data-bind="enable: isRepetierFirmware() && isConnected(), click: showCoords">{{ _('Show Coords') }}</button> <br><br>
    <button data-bind="enable: isRepetierFirmware() && isConnected() && isSeeMeCNCPrinter(), click: beginDeltaCal">{{ _('Begin Delta Calibration') }}</button>
	
   <!--- <button data-bind="enabled: isRepetierFirmware, click: loadEeprom">{{ _('Load EEprom') }}</button>
   
    <button data-bind="enabled: isRepetierFirmware, click: saveEeprom">{{ _('Save EEprom') }}</button> -->
	
    <br><br><strong>Progress: </strong><span data-bind="text: statusMessage"></span><br>

    <br><br><strong>Debug Data: </strong><span data-bind="text: statusDebug"></span><br>
</form>