<h4>Delta Autocalibration Plugin</h4>
This plugin will calibrate a delta configuration printer using David Crocker's "least squares" calibration algorithm.<br>
Note that this is only designed to operate with the SeeMeCNC fork of Repetier Firmware.<br><br>

<strong>Connection Status: <span style="color: green" data-bind="visible: isConnected()">connected</span>
<span style="color: red" data-bind="visible: !isConnected()">not connected</span></strong><br>
Your machine is <span style="color: red" data-bind="visible: isConnected() && !isSeeMeCNCPrinter()">not</span> a SeeMeCNC
<span data-bind="text: printerType"></span> 3D printer!<br>
<br>


<form class="form-horizontal">
<!---
    <table>
        <tr>
            <td>Number of Probe Points: </td>
            <td><select data-bind="options: [4,7,10], value: probePoints"></select></td>
        </tr>
        <tr>
            <td>Number of Calbration Factors: </td>
            <td><select data-bind="options: [4,5,6,7], value: calibrationFactors"></select></td>
        </tr>    
    </table>
-->
    <br>
    <button data-bind="enable: isRepetierFirmware() && isConnected(), click: showCoords">{{ _('Show Coords') }}</button> <br><br>
    <button data-bind="enable: isRepetierFirmware() && isConnected() && isSeeMeCNCPrinter(), click: beginDeltaCal">{{ _('Begin Delta Calibration') }}</button>
	
    <br><br><strong>Progress: </strong><span data-bind="text: statusMessage"></span><br>
    <br><br><strong>M665 Command: </strong><span data-bind="text: statusM665"></span><br>
    <br><br><strong>M666 Command: </strong><span data-bind="text: statusM666"></span><br>
    <button data-bind="enabled: isRepetierFirmware, click: loadEeprom">{{ _('Load EEprom') }}</button>
</form>